

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
     -o-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin transform-translate3d() {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}




