/* styles are imported and declared variables */

@import '_mixins';
@import '_variables';

/*layout styles in css*/

/* **************************************** Body ************************************************ */
body {
	width: $width_general; //100%
	height: $height_general !important;
	background: $white;
	overflow-x: hidden;
	overflow-y: visible;
	font-family: $font-stack1;
	font-weight:300;
	line-height:100%;
	font-size:100%;	
}

/* **************************************** Header ********************************************** */
header {
	width: $width_general;
	height: $height_header;
	background: $black;
	@include transform-translate3d();
	@include border-radius(0px);

	z-index: 999;

	/*position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: $pad_0;*/
		
	#subheader{
		max-width: $width_wrapper;
		height: $height_header;
		margin: auto;
		background: transparent;//
		overflow: visible;
		@include transform-translate3d();
		@include border-radius(0px);
		padding: $pad_0;

		.photo_user_mini{
			float:right;
			width:100px;
			height:$height_header;
			margin:-5px 0 0 0;
		}
	}	
}

/* ******************************************** Menu ******************************************************* */

#float_menu{
	width:$width_menufloat;
	height:auto;
	background: $black;
	margin: 60px 10px auto 10px;
	float:left;
	overflow: hidden;
	@include transform-translate3d();
	@include border-radius(0px);
	z-index: 90;
	position: relative;
    top: 0px;
    right: 0;
    left: 0px;
    padding: $pad_0;
}
/* ************************************************* Wrapper ************************************************ */

#wrapper {

	float:left;
	min-width: $width_wrapper;
	max-width: $width_wrapper;
	height: auto;
	background: $white;
	margin: 60px auto 10px 5px;
	font-family: $font-stack2;
	font-size:100%;
	line-height:100%;
	padding: $pad_0;

	#content_div {
		width: $width_wrapper_content_div;
		height: $height_general !important;
		background: $grey1;
		margin: 0 0 0px $width_menufloat+40px;

		.window_perfil{
			width:$width_box_perfil;
			height:$height_box_content_big;
			background: $white;
		}
	}
}

#general_aboutme{
	float: left;
	width: $width_general_aboutme;
	height: auto;
	border: 0px solid $grey3;
	background: $white;
	margin: 5px auto 10px 5px;
}

#section_aboutme{
	width:239px;
	background:$grey2;
	float:left;
	margin:1px;
	height:auto;
}

#section_followers{
	width:$width_followers;
	margin:$margin_followers;
	float:left;
	background: $grey1;
	margin: 60px auto 10px 5px;
	border: 0px solid $grey2;
}

/* ********************************************** footer ************************************************ */

footer{

	float:left;
	width:$width_general;
	height: $height_footer;
	background: $black;
	margin: 25px auto 0px auto;

	#footer-content{
		width:$width_wrapper;
		height:$height_footer_content;
		background: $black;
		margin:0 auto;
	}
}

/* **************************************** .box-content ************************************************ */
.box-content{

	float:left;
	width: $width_box_content;
	height: auto;
	background: $grey1;
	margin: $margin_cont;
	border: 0px solid $grey2;
	overflow: hidden;

	line-height:100%;
	font-weight:300;
	font-size:100%;

	.header-box-content{

		width: $width_box_content;
		height: $height_box_title_content;
		background: $grey1;
		overflow: hidden;
		/*h3 tittle box content*/
		.title-box-content{

			float:left;
			width: $width_h3_title_content;
			height: $height_h3_title_content;
			background: transparent;
			margin: 0;
			padding:5px 5px 5px 10px;
			font-variant: small-caps;
			line-height:100%;
			font-weight:300;
			font-size:100%;
		}
		.ico-id-content{
			float:right;
			width: $height_box_title_content;
			height: $height_box_title_content;
			margin:0;
		}
        
		.subtitle-box-content{
			float:left;

			width: $width_h3_title_content;
			height: $height_h3_title_content;
			background: transparent;
			margin: -10px 0 0 0;
			padding:0px 0px 0px 10px;
			line-height:100%;
			font-weight:300;
			font-size:11px;
		}
	}


    /*the dimension of this div will be content  photos, ilustrations, animates and video*/
	.product-box-content{
		width: $width_product_box_content;
		max-height: $height_img_box_content;
		min-height: $height_img_box_content;
		background: $white;
		margin:10px auto;	
	}
	/*the characteristics of this content only will be content API soundcloud*/
	.music-box-content{
		width: $width_product_box_content;
		max-height: $height_music_box_content;
		min-height: $height_music_box_content;
		background: $white;
		margin:10px auto;
	}

	.info-box-content{
		width: $width_box_content;
		height: $height_info_box_content;
		background: transparent;
		margin:0px;
		.user-name-box-content{
			background: #ff0000;
			.user-name-mini{
				float:left;

				width: $width_p_title_content;
				height: $height_p_title_content;
				background: transparent;
				margin:5px 0;
				padding:0 0 0 10px;

				font-size: 12px;
            }
        }
		.ico-social{
            .share-fb, .share-tw, .share-g{
                float:right;

                width:$dimensions_ico_social_title_content;
                height:$dimensions_ico_social_title_content;
                margin:2px 1px;
            }
		}
	}

    label{	

		line-height:100%;
		font-weight:300;
		font-size:12px;
	}

	.form-setting{
		width: $width_box_form_setting;
		height: auto;
		background: transparent;
		margin:0 10px;
	}

	textarea{
		width: $width_product_box_content;
		max-height: auto;
		min-height: $height_img_box_content+-50px;
	}

    .preview-photo-user{
        width: 100px;
		height: 100px;
		background: $white;
        margin: 0 30px 30px;
    }
}

/* ******************************** content related to the event manager ********************************/
.box-new-content{
	
	float:left;
	width: $width_box_content;
	height: $height_box_new_content;
	background: $white;
	margin: $margin_cont;
	border: 1px dashed $grey2;
	overflow: hidden;
}

/*  ***************************************************** form register and login *************************** */
#lean_overlay {

    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{

	position:absolute;
	width:330px;
	height: auto;
	left:45%;
	top:80px;
	background: #FFF;
}

#modal_trigger {

	margin:0px auto; 
	width:100px; 
	display:block;
}

.btn {

	padding:10px 20px; 
	background: #F4F4F2;
}
.btn_red {

	background: #ED6347; 
	color: #FFF;
}

.btn:hover {

	background: #E4E4E2;
}
.btn_red:hover {
	background: #C12B05;
}

a.btn {

	color:#666; 
	text-align: center; 
	text-decoration: none;
}
a.btn_red {

	color: #FFF;
}

.one_half {

	width:50%; 
	display: block; 
	float:left;

	.last {
		width:45%; 
		margin-left:5%;
	}

}

/* Popup Styles*/

.popupHeader {

	font-size:16px; 
	text-transform: uppercase;
	background:#F4F4F2; 
	position:relative; 
	padding:10px 20px; 
	border-bottom:1px solid #DDD; 
	font-weight:bold;

	.modal_close {
		position: absolute; 
		right: 0; 
		top:0; 
		padding:10px 15px; 
		background:#E4E4E2; 
		cursor: pointer; 
		color:#aaa; 
		font-size:16px;
	}
}
.popupBody {

	padding:20px;
}


/* Social Login Form */
.social_login {

	.social_box {
		display:block; 
		clear:both; 
		padding:10px; 
		margin-bottom: 10px; 
		background: #F4F4F2; 
		overflow: hidden;
	}
	.icon {
		display:block; 
		width:10px; 
		padding:5px 10px; 
		margin-right: 10px; 
		float:left; 
		color:#FFF; 
		font-size:16px; 
		text-align: center;
	}
	.icon_title {
		display:block; 
		padding:5px 0; 
		float:left; 
		font-weight: bold; 
		font-size: 16px; 
		color:#777;
	}
	.social_box:hover {
		background: #E4E4E2;
	}
	.fb .icon {
		background:#3B5998;
	}
	.google .icon {
		background:#DD4B39;
	}
}


.centeredText {

	text-align: center; 
	margin: 20px 0; 
	clear: both; 
	overflow: hidden; 
	text-transform: uppercase;
}

.action_btns {
	clear:both; 
	overflow: hidden;

	a {
		display: block;
	}
}

/* User Login Form */
.user_login {
	display: none;

	label {
		display: block; 
		margin-bottom:5px;
	}

	input[type="text"],input[type="email"],input[type="password"]{
		display: block; 
		width:90%; 
		padding: 10px; 
		border:1px solid #DDD; 
		color:#666;
	}
	input[type="checkbox"] {
		float:left; 
		margin-right:5px;
	}
	 input[type="checkbox"]+label {
		float:left;
	}
	.checkbox {
		margin-bottom: 10px; 
		clear: both; 
		overflow: hidden;
	}
}
.forgot_password {

	display:block; 
	margin: 20px 0 10px; 
	clear: both; 
	overflow: hidden; 
	text-decoration: none; 
	color:#ED6347;
}

/* User Register Form */
.user_register {

	display: none;

	label {
		display: block; 
		margin-bottom:5px;
	}

	input[type="text"],input[type="email"],input[type="password"]{
		display: block; 
		width:90%; 
		padding: 10px; 
		border:1px solid #DDD; 
		color:#666;
	}
	input[type="checkbox"] {
		float:left; 
		margin-right:5px;
	}
	input[type="checkbox"]+label {
		float:left;
	}
	.checkbox {
		margin-bottom: 10px; 
		clear: both; 
		overflow: hidden;
	}
} 