/* styles are imported and declared variables */

@import '_mixins';
@import '_variables';

/*General properties of the body*/
body {

	width:$dimensions_general; 
	height:$dimensions_general !important;
	background:$white2; 
	overflow-x:hidden;
	overflow-y:visible;
	font-family:$font-stack1;
	font-weight:300;
	font-size:100%;
}

/* General properties of the Header */
header {

	width: $dimensions_general;//100%
	height: $height_header;//40px
	background: $black;
	z-index: 999;
    
    /*properties of the div that is inside header*/
	#subheader{

		max-width: $width_wrapper; //1240px
		height: $height_header; //40px
		margin: auto;
		background: transparent;//
		overflow: visible;
		padding: $pad_0;
        
        /* photo that appears on the right side of the header */
		.photo_user_mini{
			float:right;
			height:$height_header;
			margin:-5px 0 0 0;
		}
	}	
}


/* This will be the content of the page */
#wrapper {

	float:left;
	min-width: $width_wrapper;//1240px
	max-width: $width_wrapper;//1240px
	border: 1px solid $bluesky;
	height: auto;
	background: $white;
	margin: 30px 10px 10px ;
	font-family: $font-stack2;
	font-size:100%;
	line-height:100%;
	padding: $pad_0;

	#subwrapper{
		float: left;
		width: 1060px;
		border: 1px solid $bluesky;
		background: $white;
		margin: 10px 10px 10px 10px;
	}
}


/* menu where they go from which they access any product or category */
#float_menu{

	width:$width_menufloat; //160px
	height:auto;
	background: $white;
	margin: 10px 10px 10px 10px;
	float:left;
	overflow: hidden;
	@include transform-translate3d();
	@include border-radius(0px);
	z-index: 90;
	position: relative;
	border: 1px solid $bluesky;
    top: 0px;
    right: 0;
    left: 0px;
    padding: $pad_0;
	
	.menu{


		ul{

		    list-style:none;
		    float:left;
		    margin: 10px 10px auto 10px;

		    li{
		    	float:left;
    			width:$width_menufloat;
    			background: $black;
    			padding:5px;
    			a{

				    color: $white;
				    text-decoration:none;
				    font-family:$font-stack1;
				    font-size: 13px;

				    :hover{

					    background:$bluesky ;
					}
				}
				h2{
					text-align: center;
					color: $white;
					font-family:$font-stack1;
				}
		    }
		}
	}
}

#section_general{
	width: 1030px;
	height:auto;
	background: $white;
	margin: 10px 10px 10px 10px;
	float:left;
	overflow: hidden;
	border: 1px solid $bluesky;

	#section_aboutme{

		width:239px;
		background:$grey1;
		float:left;
		margin: 5px 5px 5px 5px;
		border: 1px solid $bluesky;
		height:auto;
		text-align:justify;
		padding: 5px 5px 5px 5px;
	
		#description_aboutme{
			width: 239;
			margin: auto;
			font-family: $font-stack1;
				h1{
					font-size: 24px;
					font-family: $font-stack1;
			}
		}
	}

	#section_aboutme2{

		width:400px;
		background:$grey1;
		float:left;
		margin: 5px 5px 5px 5px;
		border: 1px solid $bluesky;
		height:auto;
		text-align:justify;
		padding: 5px 5px 5px 5px;
	
		#description_aboutme{
			width: 239;
			margin: auto;
			font-family: $font-stack1;
				p{
					font-size:0.9rem;
				}
				h1{
					font-size: 1.5rem;
					font-family: $font-stack1;
			}
		}
	}

	#section_social_profile{

		width:70px;
		background:$grey1;
		float:left;
		margin: 5px 5px 5px 5px;
		border: 1px solid $bluesky;
		height:auto;
		text-align:justify;
		padding: 5px 5px 5px 5px;
	
		#description_aboutme{
			width: 239;
			margin: auto;
			font-family: $font-stack1;
				h1{
					font-size: 1.5rem;
					font-family: $font-stack1;
			}
		}
	}

	#section_followers{

		width:$width_followers;
		border: 1px solid $bluesky;
		float:left;
		background: $grey1;
		margin: 5px 5px 5px 30px;
		border: 1px solid $bluesky;
		font-family: $font-stack1;
	}

	#section_statistics{

		width: 1010px;
		background:transparent;
		float:left;
		margin: 5px 5px 5px 5px;
		border: 1px solid $bluesky;
		height:auto;
		text-align:justify;
		padding: 5px 5px 5px 5px;
		text-align: center;
	}

}

/*here are all the sections belonging to profile*/


/* This section will display the list of followers */

/* properties general footer  */

footer{

	float:left;
	width:$dimensions_general;
	height: $height_footer;
	background: $black;
	margin: 25px auto 0px auto;
    
    /* inside the footer */
	#footer-content{

		width:$width_wrapper;
		height:$height_footer_content;
		background: $black;
		margin: 0px auto 0px auto;
	}
}
/*************************************** Content general styles boxes ********************************************************/

/*.box-content Has styles boxes and properties */
.box-content{

	float:left;
	width: $width_box_content;
	height: auto;
	background: $white;
	margin: $margin_cont;
	border: 1px solid $grey1;
	overflow: hidden;
	line-height:100%;
	font-weight:300;
	font-size:100%;
    
    
	.header-box-content{

		width: $width_box_content;
		height: $height_box_title_content;
		background: $white;
		overflow: hidden;
	
		.title-box-content{

			float:left;
			width: $width_h3_title_content;
			height: $height_h3_title_content;
			background: transparent;
			margin: 0;
			padding:5px 5px 5px 10px;
			font-variant: small-caps;
			line-height:100%;
			font-weight:300;
			font-size:100%;
		}

		.ico-id-content{

			float:right;
			width: $height_box_title_content;
			height: $height_box_title_content;
			margin:0;

				.ico-id-photo,.ico-id-music,.ico-id-video,
				.ico-id-animation,.ico-id-illustration,.ico-id-web,
				.ico-id-password, .ico-id-about-you,
				.ico-id-basic-info, .ico-id-user-photo, .ico-id-notification{

					width:$dimensions_ico_product;
					height:$dimensions_ico_product;
					margin:5px auto 0 auto;  
					background-size:100% 100%;
					background-repeat:no-repeat;
					background-position:center center;
				}

				.ico-id-photo{background:url(../img/ico-photos.png);}
				.ico-id-music{background:url(../img/ico-music.png);}
				.ico-id-video{background:url(../img/ico-video.png);}
				.ico-id-animation{background:url(../img/ico-animation.png);}
				.ico-id-illustration{background:url(../img/ico-illustration.png);}
				.ico-id-web{background:url(../img/ico-web.png);}
				.ico-id-password{background:url(../img/ico-password.png);}
				.ico-id-about-you{background:url(../img/ico-about-you.png);}
				.ico-id-basic-info{background:url(../img/ico-basic-info.png);}
				.ico-id-user-photo{background:url(../img/ico-user-photo.png);}
				.ico-id-notification{background:url(../img/ico-notification.png);
			}
		}
        
		.subtitle-box-content{

			float:left;
			width: $width_h3_title_content;
			height: $height_h3_title_content;
			background: transparent;
			margin: -10px 0 0 0;
			padding:0px 0px 0px 10px;
			line-height:100%;
			font-weight:300;
			font-size:11px;
		}
	}

	.line-color-grey{

		width:$width_box_content;
		height:1px;
		background: $grey0;
	}


    /*the dimension of this div will be content  photos, ilustrations, animates and video*/
	.product-box-content{

		width: $width_product_box_content;
		max-height: $height_img_box_content;
		min-height: $height_img_box_content;
		background: $white;
		margin:10px auto;	
	}

	/*the characteristics of this content only will be content API soundcloud*/
	.music-box-content{

		width: $width_product_box_content;
		max-height: $height_music_box_content;
		min-height: $height_music_box_content;
		background: $white;
		margin:10px auto;
	}

	.info-box-content{

		width: $width_box_content;
		height: $height_info_box_content;
		background: transparent;
		margin:0px;

		.user-name-box-content{

			background: #ff0000;

			.user-name-mini{

				float:left;
				width: $width_p_title_content;
				height: $height_p_title_content;
				background: transparent;
				margin:5px 0;
				padding:0 0 0 10px;
				font-size: 12px;
            }
        }

		.ico-social{

			.share-social{

                float:right;
                background: transparent;
                width:$dimensions_ico_social_title_content;
                height:$dimensions_ico_social_title_content;
                margin:5px 5px 0 0;
                cursor: pointer;

					/* social shares configuration  */
                    .share-fb{

                        width:$dimensions_ico_social_share;
                        height:$dimensions_ico_social_share;
                        background:url(../img/ico-fb.png), $white;//  
                        background-size:16px 16px;
                        background-repeat:no-repeat;
                        background-position:center center;
                    }
                    .share-tw{

                        width:$dimensions_ico_social_share;
                        height:$dimensions_ico_social_share;
                        background:url(../img/ico-tw.png), $white;//  
                        background-size:16px 16px;
                        background-repeat:no-repeat;
                        background-position:center center;
                    }
                    .share-g{

                        width:$dimensions_ico_social_share;
                        height:$dimensions_ico_social_share;
                        background:url(../img/ico-g.png), $white;//  
                        background-size:16px 16px;
                        background-repeat:no-repeat;
                        background-position:center center;
                    }
           		}
			}
		}	

	.deleat-account{

		width:200px;
		height:2.3125rem;
		margin:0 20%;
		background: transparent;

		.ico-id-deleat{

			float:left;
			width:$dimensions_ico_product;
			height:$dimensions_ico_product;
			margin:0 1px 0 auto;
			font-size: 0.875rem;
			background:url(../img/ico-deleat.png);
			background-size:100% 100%;
			background-repeat:no-repeat;
			background-position:center center;
		}
		.label-link{

			float:left;
			font-size: 1rem;
			color:$bluesky;
			text-align: center;
			margin:10px auto 0 20px;
		}
	}

    label{	

		line-height:100%;
		font-weight:300;
		font-size:12px;
	}

	.form-setting{

		width: $width_box_form_setting;
		height: auto;
		background: transparent;
		margin:0 10px;
	}

	textarea{

		width: $width_product_box_content;
		max-height: auto;
		min-height: $height_img_box_content+-50px;
	}

    .preview-photo-user{

        width: 100px;
		height: 100px;
		background: $white;
        margin: 0 30px 30px;
    }
}

/* ******************************** Content general styles boxes ************************************************************/

/* content related to the event manager */

.box-new-content{
	
	float:left;
	width: $width_box_content;
	height: $height_box_new_content;
	background: $white;
	margin: $margin_cont;
	border: 1px dashed $grey2;
	overflow: hidden;
}

/* form register and login */
#lean_overlay {

    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{

	position:absolute;
	width:330px;
	height: auto;
	left:45%;
	top:80px;
	background: #FFF;
}

#modal_trigger {

	margin:0px auto; 
	width:100px; 
	display:block;
}

.btn {

	padding:10px 20px; 
	background: #F4F4F2;
}
.btn_red {

	background: #ED6347; 
	color: #FFF;
}

.btn:hover {

	background: #E4E4E2;
}
.btn_red:hover {
	background: #C12B05;
}

a.btn {

	color:#666; 
	text-align: center; 
	text-decoration: none;
}
a.btn_red {

	color: #FFF;
}

.one_half {

	width:50%; 
	display: block; 
	float:left;

	.last {
		width:45%; 
		margin-left:5%;
	}

}

/* Popup Styles*/

.popupHeader {

	font-size:16px; 
	text-transform: uppercase;
	background:#F4F4F2; 
	position:relative; 
	padding:10px 20px; 
	border-bottom:1px solid #DDD; 
	font-weight:bold;

	.modal_close {
		position: absolute; 
		right: 0; 
		top:0; 
		padding:10px 15px; 
		background:#E4E4E2; 
		cursor: pointer; 
		color:#aaa; 
		font-size:16px;
	}
}
.popupBody {

	padding:20px;
}


/* Social Login Form */
.social_login {

	.social_box {
		display:block; 
		clear:both; 
		padding:10px; 
		margin-bottom: 10px; 
		background: #F4F4F2; 
		overflow: hidden;
	}
	.icon {
		display:block; 
		width:10px; 
		padding:5px 10px; 
		margin-right: 10px; 
		float:left; 
		color:#FFF; 
		font-size:16px; 
		text-align: center;
	}
	.icon_title {
		display:block; 
		padding:5px 0; 
		float:left; 
		font-weight: bold; 
		font-size: 16px; 
		color:#777;
	}
	.social_box:hover {
		background: #E4E4E2;
	}
	.fb .icon {
		background:#3B5998;
	}
	.google .icon {
		background:#DD4B39;
	}
}


.centeredText {

	text-align: center; 
	margin: 20px 0; 
	clear: both; 
	overflow: hidden; 
	text-transform: uppercase;
}

.action_btns {
	clear:both; 
	overflow: hidden;

	a {
		display: block;
	}
}

/* User Login Form */
.user_login {
	display: none;

	label {
		display: block; 
		margin-bottom:5px;
	}

	input[type="text"],input[type="email"],input[type="password"]{
		display: block; 
		width:90%; 
		padding: 10px; 
		border:1px solid #DDD; 
		color:#666;
	}
	input[type="checkbox"] {
		float:left; 
		margin-right:5px;
	}
	 input[type="checkbox"]+label {
		float:left;
	}
	.checkbox {
		margin-bottom: 10px; 
		clear: both; 
		overflow: hidden;
	}
}
.forgot_password {

	display:block; 
	margin: 20px 0 10px; 
	clear: both; 
	overflow: hidden; 
	text-decoration: none; 
	color:#ED6347;
}

/* User Register Form */
.user_register {

	display: none;

	label {
		display: block; 
		margin-bottom:5px;
	}

	input[type="text"],input[type="email"],input[type="password"]{
		display: block; 
		width:90%; 
		padding: 10px; 
		border:1px solid #DDD; 
		color:#666;
	}
	input[type="checkbox"] {
		float:left; 
		margin-right:5px;
	}
	input[type="checkbox"]+label {
		float:left;
	}
	.checkbox {
		margin-bottom: 10px; 
		clear: both; 
		overflow: hidden;
	}
} 