@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
/* styles are imported and declared variables */
/*layout styles in css*/
/* **************************************** Body ************************************************ */
/* line 10, ../../scss/style.scss */
body {
  width: 100%;
  height: 100% !important;
  background: white;
  overflow-x: hidden;
  overflow-y: visible;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 100%;
  font-size: 100%;
}

/* **************************************** Header ********************************************** */
/* line 23, ../../scss/style.scss */
header {
  width: 100%;
  height: 40px;
  background: #323232;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  z-index: 999;
  	/*position: fixed;
      top: 0;
      right: 0;
      left: 0;
      padding: $pad_0;*/
}
/* line 38, ../../scss/style.scss */
header #cabecera {
  max-width: 1080px;
  height: 40px;
  margin: auto;
  background: transparent;
  overflow: visible;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  padding: 0px;
}
/* line 47, ../../scss/style.scss */
header #cabecera .photo_user_mini {
  float: right;
  width: 100px;
  height: 40px;
  margin: -5px 0 0 0;
}

/* ******************************************** Menu ******************************************************* */
/* line 59, ../../scss/style.scss */
#float_menu {
  width: 160px;
  height: auto;
  background: #323232;
  margin: 60px 10px auto 10px;
  float: left;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  z-index: 90;
  position: relative;
  top: 0px;
  right: 0;
  left: 0px;
  padding: 0px;
}

/* ************************************************* Wrapper ************************************************ */
/* line 80, ../../scss/style.scss */
#wrapper {
  float: left;
  min-width: 1080px;
  max-width: 1080px;
  height: auto;
  background: white;
  margin: 60px auto 10px 5px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 100%;
  padding: 0px;
}
/* line 93, ../../scss/style.scss */
#wrapper #content_div {
  width: 1020px;
  height: 100% !important;
  background: gainsboro;
  margin: 0 0 0px 200px;
}
/* line 99, ../../scss/style.scss */
#wrapper #content_div .window_perfil {
  width: 692px;
  height: 250px;
  background: white;
}

/* ********************************************** footer ************************************************ */
/* line 109, ../../scss/style.scss */
footer {
  float: left;
  width: 100%;
  height: 350px;
  background: #323232;
  margin: 25px auto 0px auto;
}
/* line 116, ../../scss/style.scss */
footer #footer-content {
  width: 1080px;
  height: 325px;
  background: #323232;
  margin: 0 auto;
}

/* **************************************** .box-content ************************************************ */
/* line 125, ../../scss/style.scss */
.box-content {
  float: left;
  width: 320px;
  height: auto;
  background: gainsboro;
  margin: 5px 10px;
  border: 0px solid #8b8b8b;
  overflow: hidden;
  line-height: 100%;
  font-weight: 300;
  font-size: 100%;
  /*the dimension of this div will be content  photos, ilustrations, animates and video*/
  /*the characteristics of this content only will be content API soundcloud*/
  /**/
}
/* line 138, ../../scss/style.scss */
.box-content .header-box-content {
  width: 320px;
  height: 47px;
  background: gainsboro;
  overflow: hidden;
  /*h3 tittle box content*/
}
/* line 144, ../../scss/style.scss */
.box-content .header-box-content .title-box-content {
  float: left;
  width: 258px;
  height: 37px;
  background: transparent;
  margin: 0;
  padding: 5px 5px 5px 10px;
  font-variant: small-caps;
  line-height: 100%;
  font-weight: 300;
  font-size: 100%;
}
/* line 157, ../../scss/style.scss */
.box-content .header-box-content .ico-id-content {
  float: right;
  width: 47px;
  height: 47px;
  margin: 0;
}
/* line 165, ../../scss/style.scss */
.box-content .header-box-content .subtitle-box-content {
  float: left;
  width: 258px;
  height: 37px;
  background: transparent;
  margin: -10px 0 0 0;
  padding: 0px 0px 0px 10px;
  line-height: 100%;
  font-weight: 300;
  font-size: 11px;
}
/* line 179, ../../scss/style.scss */
.box-content .product-box-content {
  width: 300px;
  max-height: 150px;
  min-height: 150px;
  background: white;
  margin: 10px auto;
}
/* line 186, ../../scss/style.scss */
.box-content .music-box-content {
  width: 300px;
  max-height: 90px;
  min-height: 90px;
  background: white;
  margin: 10px auto;
}
/* line 194, ../../scss/style.scss */
.box-content .info-box-content {
  width: 320px;
  height: 30px;
  background: transparent;
  margin: 0px;
}
/* line 199, ../../scss/style.scss */
.box-content .info-box-content .user-name-box-content {
  background: #ff0000;
}
/* line 201, ../../scss/style.scss */
.box-content .info-box-content .user-name-box-content .user-name-mini {
  float: left;
  width: 220px;
  height: 20px;
  background: transparent;
  margin: 5px 0;
  padding: 0 0 0 10px;
  font-size: 12px;
}
/* line 214, ../../scss/style.scss */
.box-content .info-box-content .ico-social .share-fb, .box-content .info-box-content .ico-social .share-tw, .box-content .info-box-content .ico-social .share-g {
  float: right;
  width: 26px;
  height: 26px;
  margin: 2px 1px;
}
/* line 223, ../../scss/style.scss */
.box-content label {
  line-height: 100%;
  font-weight: 300;
  font-size: 12px;
}
/* line 228, ../../scss/style.scss */
.box-content .form-setting {
  width: 290px;
  height: auto;
  background: transparent;
  margin: 0 10px;
}
/* line 235, ../../scss/style.scss */
.box-content textarea {
  width: 300px;
  max-height: auto;
  min-height: 100px;
}
/* line 240, ../../scss/style.scss */
.box-content .preview-photo-user {
  width: 100px;
  height: 100px;
  background: white;
  margin: 0 30px 30px;
}

/* ******************************** content related to the event manager ********************************/
/* line 249, ../../scss/style.scss */
.box-new-content {
  float: left;
  width: 320px;
  height: 80px;
  background: white;
  margin: 5px 10px;
  border: 1px dashed #8b8b8b;
  overflow: hidden;
}

/*Codigo de prueba */
/* line 261, ../../scss/style.scss */
#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}

/* line 272, ../../scss/style.scss */
.popupContainer {
  position: absolute;
  width: 330px;
  height: auto;
  left: 45%;
  top: 80px;
  background: #FFF;
}

/* line 281, ../../scss/style.scss */
#modal_trigger {
  margin: 100px auto;
  width: 100px;
  display: block;
}

/* line 287, ../../scss/style.scss */
.btn {
  padding: 10px 20px;
  background: #F4F4F2;
}

/* line 291, ../../scss/style.scss */
.btn_red {
  background: #ED6347;
  color: #FFF;
}

/* line 296, ../../scss/style.scss */
.btn:hover {
  background: #E4E4E2;
}

/* line 299, ../../scss/style.scss */
.btn_red:hover {
  background: #C12B05;
}

/* line 303, ../../scss/style.scss */
a.btn {
  color: #666;
  text-align: center;
  text-decoration: none;
}

/* line 308, ../../scss/style.scss */
a.btn_red {
  color: #FFF;
}

/* line 312, ../../scss/style.scss */
.one_half {
  width: 50%;
  display: block;
  float: left;
}
/* line 317, ../../scss/style.scss */
.one_half .last {
  width: 45%;
  margin-left: 5%;
}

/* Popup Styles*/
/* line 326, ../../scss/style.scss */
.popupHeader {
  font-size: 16px;
  text-transform: uppercase;
  background: #F4F4F2;
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px solid #DDD;
  font-weight: bold;
}
/* line 335, ../../scss/style.scss */
.popupHeader .modal_close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 15px;
  background: #E4E4E2;
  cursor: pointer;
  color: #aaa;
  font-size: 16px;
}

/* line 346, ../../scss/style.scss */
.popupBody {
  padding: 20px;
}

/* Social Login Form */
/* line 354, ../../scss/style.scss */
.social_login .social_box {
  display: block;
  clear: both;
  padding: 10px;
  margin-bottom: 10px;
  background: #F4F4F2;
  overflow: hidden;
}
/* line 362, ../../scss/style.scss */
.social_login .icon {
  display: block;
  width: 10px;
  padding: 5px 10px;
  margin-right: 10px;
  float: left;
  color: #FFF;
  font-size: 16px;
  text-align: center;
}
/* line 372, ../../scss/style.scss */
.social_login .icon_title {
  display: block;
  padding: 5px 0;
  float: left;
  font-weight: bold;
  font-size: 16px;
  color: #777;
}
/* line 380, ../../scss/style.scss */
.social_login .social_box:hover {
  background: #E4E4E2;
}
/* line 383, ../../scss/style.scss */
.social_login .fb .icon {
  background: #3B5998;
}
/* line 386, ../../scss/style.scss */
.social_login .google .icon {
  background: #DD4B39;
}

/* line 392, ../../scss/style.scss */
.centeredText {
  text-align: center;
  margin: 20px 0;
  clear: both;
  overflow: hidden;
  text-transform: uppercase;
}

/* line 400, ../../scss/style.scss */
.action_btns {
  clear: both;
  overflow: hidden;
}
/* line 404, ../../scss/style.scss */
.action_btns a {
  display: block;
}

/* User Login Form */
/* line 410, ../../scss/style.scss */
.user_login {
  display: none;
}
/* line 413, ../../scss/style.scss */
.user_login label {
  display: block;
  margin-bottom: 5px;
}
/* line 418, ../../scss/style.scss */
.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {
  display: block;
  width: 90%;
  padding: 10px;
  border: 1px solid #DDD;
  color: #666;
}
/* line 425, ../../scss/style.scss */
.user_login input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}
/* line 429, ../../scss/style.scss */
.user_login input[type="checkbox"] + label {
  float: left;
}
/* line 432, ../../scss/style.scss */
.user_login .checkbox {
  margin-bottom: 10px;
  clear: both;
  overflow: hidden;
}

/* line 438, ../../scss/style.scss */
.forgot_password {
  display: block;
  margin: 20px 0 10px;
  clear: both;
  overflow: hidden;
  text-decoration: none;
  color: #ED6347;
}

/* User Register Form */
/* line 448, ../../scss/style.scss */
.user_register {
  display: none;
}
/* line 451, ../../scss/style.scss */
.user_register label {
  display: block;
  margin-bottom: 5px;
}
/* line 456, ../../scss/style.scss */
.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {
  display: block;
  width: 90%;
  padding: 10px;
  border: 1px solid #DDD;
  color: #666;
}
/* line 463, ../../scss/style.scss */
.user_register input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}
/* line 467, ../../scss/style.scss */
.user_register input[type="checkbox"] + label {
  float: left;
}
/* line 470, ../../scss/style.scss */
.user_register .checkbox {
  margin-bottom: 10px;
  clear: both;
  overflow: hidden;
}
