@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
/* styles are imported and declared variables */
/*General properties of the body*/
/* line 7, ../../scss/style.scss */
body {
  width: 100%;
  height: 100% !important;
  background: #f6f6f6;
  overflow-x: hidden;
  overflow-y: visible;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 100%;
}

/* General properties of the Header */
/* line 20, ../../scss/style.scss */
header {
  width: 100%;
  height: 40px;
  background: #323232;
  z-index: 999;
  /*properties of the div that is inside header*/
}
/* line 28, ../../scss/style.scss */
header #subheader {
  max-width: 1240px;
  height: 40px;
  margin: auto;
  background: transparent;
  overflow: visible;
  padding: 0px;
  /* photo that appears on the right side of the header */
}
/* line 38, ../../scss/style.scss */
header #subheader .photo_user_mini {
  float: right;
  height: 40px;
  margin: -5px 0 0 0;
}

/* This will be the content of the page */
/* line 48, ../../scss/style.scss */
#wrapper {
  float: left;
  min-width: 1240px;
  max-width: 1240px;
  height: auto;
  background: transparent;
  margin: 30px 10px 10px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 100%;
  padding: 0px;
}
/* line 62, ../../scss/style.scss */
#wrapper #subwrapper {
  float: left;
  width: 1060px;
  margin: 10px 10px 10px 10px;
}

/* menu where they go from which they access any product or category */
/* line 72, ../../scss/style.scss */
#float_menu {
  width: 160px;
  height: auto;
  position: fixed;
  background: white;
  margin: 10px 10px 10px 10px;
  float: left;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  z-index: 90;
  position: relative;
  top: 0px;
  right: 0;
  left: 0px;
  padding: 0px;
}

/* line 92, ../../scss/style.scss */
#section_general {
  width: 1030px;
  height: auto;
  margin: 10px 10px 10px 10px;
  float: left;
  overflow: hidden;
}
/* line 100, ../../scss/style.scss */
#section_general #section_aboutme {
  width: 239px;
  background: white;
  float: left;
  margin: 5px 5px 5px 5px;
  height: auto;
  text-align: justify;
  padding: 5px 5px 5px 5px;
}
/* line 111, ../../scss/style.scss */
#section_general #section_aboutme #description_aboutme {
  width: 239;
  margin: auto;
  font-family: "Open Sans", sans-serif;
}
/* line 115, ../../scss/style.scss */
#section_general #section_aboutme #description_aboutme h1 {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}
/* line 122, ../../scss/style.scss */
#section_general #section_aboutme2 {
  width: 400px;
  background: white;
  float: left;
  margin: 5px 5px 5px 5px;
  height: auto;
  text-align: justify;
  padding: 5px 5px 5px 5px;
}
/* line 134, ../../scss/style.scss */
#section_general #section_social_profile {
  width: 70px;
  background: white;
  float: left;
  margin: 5px 5px 5px 5px;
  height: auto;
  text-align: justify;
  padding: 5px 5px 5px 5px;
}
/* line 146, ../../scss/style.scss */
#section_general #section_followers {
  width: 250px;
  float: left;
  background: white;
  margin: 5px 5px 5px 30px;
  font-family: "Open Sans", sans-serif;
}
/* line 156, ../../scss/style.scss */
#section_general #description_aboutme {
  width: 239;
  margin: auto;
  font-family: "Open Sans", sans-serif;
}
/* line 160, ../../scss/style.scss */
#section_general #description_aboutme p {
  font-size: 0.9rem;
}
/* line 163, ../../scss/style.scss */
#section_general #description_aboutme h1 {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
}
/* line 169, ../../scss/style.scss */
#section_general #section_statistics {
  width: 1010px;
  background: white;
  float: left;
  margin: 5px 5px 5px 5px;
  height: auto;
  text-align: justify;
  padding: 5px 5px 5px 5px;
  text-align: center;
}

/* line 187, ../../scss/style.scss */
.menu ul {
  list-style: none;
  float: left;
  margin: 10px 10px auto 10px;
}
/* line 193, ../../scss/style.scss */
.menu ul li {
  float: left;
  width: 160px;
  background: transparent;
  padding: 5px;
}
/* line 198, ../../scss/style.scss */
.menu ul li a {
  color: white;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}
/* line 205, ../../scss/style.scss */
.menu ul li a :hover {
  background: white;
}
/* line 210, ../../scss/style.scss */
.menu ul li h2 {
  text-align: center;
  color: white;
  font-family: "Open Sans", sans-serif;
}

/*here are all the sections belonging to profile*/
/* This section will display the list of followers */
/* properties general footer  */
/* line 225, ../../scss/style.scss */
footer {
  float: left;
  width: 100%;
  height: 350px;
  background: white;
  margin: 0px auto 0px auto;
  /* ********* footer content, social, links, menu, agilapps ******** */
}
/* line 234, ../../scss/style.scss */
footer .footer-content {
  width: 1240px;
  height: 375px;
  background: transparent;
  margin: 0px auto 0px auto;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  padding: 0px;
  /* ********* Sponsors culttume ******** */
  /* ********* navegation general ******** */
}
/* line 244, ../../scss/style.scss */
footer .footer-content .sponsors-logos {
  width: 1240px;
  height: 160px;
  background: transparent;
  margin: 0px auto 0px auto;
  overflow: hidden;
  /* ********* Opacity, filter greyscale and bg sponsors ******** */
  /* ********* Opacity and filter effect ******** */
}
/* line 250, ../../scss/style.scss */
footer .footer-content .sponsors-logos .logo-sponsor {
  display: inline-block;
  width: 160px;
  height: 160px;
  background: transparent;
  margin: 0px 70px;
}
/* line 259, ../../scss/style.scss */
footer .footer-content .sponsors-logos #img-presidencia {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
  background: url(../img/Presidencia-160x45.png) center center no-repeat;
}
/* line 260, ../../scss/style.scss */
footer .footer-content .sponsors-logos #img-emprendetic2 {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
  background: url(../img/EmprendeTic2-160x45.png) center center no-repeat;
}
/* line 261, ../../scss/style.scss */
footer .footer-content .sponsors-logos #img-parquesoft {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
  background: url(../img/ParqueSoft-160x45.png) center center no-repeat;
}
/* line 262, ../../scss/style.scss */
footer .footer-content .sponsors-logos #img-tecnoparque {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
  background: url(../img/Tecnoparque-160x87.png) center center no-repeat;
}
/* line 263, ../../scss/style.scss */
footer .footer-content .sponsors-logos #img-fondo-emprender {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
  background: url(../img/FondoEmprender-160x45.png) center center no-repeat;
}
/* line 264, ../../scss/style.scss */
footer .footer-content .sponsors-logos #img-apssco {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
  background: url(../img/Apps.co-160x45.png) center center no-repeat;
}
/* line 265, ../../scss/style.scss */
footer .footer-content .sponsors-logos #img-c3-d {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
  background: url(../img/C3+d-120x155.jpg) center no-repeat;
}
/* line 266, ../../scss/style.scss */
footer .footer-content .sponsors-logos #img-ventures {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
  background: url(../img/Ventures-160x45.png) center center no-repeat;
}
/* line 267, ../../scss/style.scss */
footer .footer-content .sponsors-logos #img-fonade {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
  background: url(../img/Fonade-160x128.jpg) center center no-repeat;
}
/* line 271, ../../scss/style.scss */
footer .footer-content .sponsors-logos #img-presidencia:hover, footer .footer-content .sponsors-logos #img-emprendetic2:hover, footer .footer-content .sponsors-logos #img-parquesoft:hover,
footer .footer-content .sponsors-logos #img-tecnoparque:hover, footer .footer-content .sponsors-logos #img-fondo-emprender:hover, footer .footer-content .sponsors-logos #img-apssco:hover,
footer .footer-content .sponsors-logos #img-c3-d:hover, footer .footer-content .sponsors-logos #img-ventures:hover, footer .footer-content .sponsors-logos #img-fonade:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 5;
}
/* line 277, ../../scss/style.scss */
footer .footer-content .nav-map {
  width: 800px;
  height: 160px;
  background: transparent;
  margin: 0px auto 0px auto;
  overflow: hidden;
}
/* line 283, ../../scss/style.scss */
footer .footer-content .nav-map .sub-nav-map {
  display: inline-block;
  width: 160px;
  height: auto;
  margin: 1px 17.5px auto 17.5px;
  background: transparent;
}
/* line 291, ../../scss/style.scss */
footer .footer-content .nav-map li {
  list-style-type: none;
}
/* line 293, ../../scss/style.scss */
footer .footer-content .nav-map li h6 {
  font-family: "Open Sans", sans-serif;
}
/* line 296, ../../scss/style.scss */
footer .footer-content .nav-map li a {
  font-family: "Open Sans", sans-serif;
}

/*************************************** Content general styles boxes ********************************************************/
/*.box-content Has styles boxes and properties */
/* line 306, ../../scss/style.scss */
.box-content {
  float: left;
  width: 320px;
  height: auto;
  background: white;
  margin: 5px 10px;
  border: 1px solid #eeeeee;
  overflow: hidden;
  line-height: 100%;
  font-weight: 300;
  font-size: 100%;
  /*the dimension of this div will be content  photos, ilustrations, animates and video*/
  /*the characteristics of this content only will be content API soundcloud*/
}
/* line 320, ../../scss/style.scss */
.box-content .header-box-content {
  width: 320px;
  height: 47px;
  background: white;
  overflow: hidden;
}
/* line 327, ../../scss/style.scss */
.box-content .header-box-content .title-box-content {
  float: left;
  width: 258px;
  height: 37px;
  background: transparent;
  margin: 0;
  padding: 5px 5px 5px 10px;
  font-variant: small-caps;
  line-height: 100%;
  font-weight: 300;
  font-size: 100%;
}
/* line 341, ../../scss/style.scss */
.box-content .header-box-content .ico-id-content {
  float: right;
  width: 47px;
  height: 47px;
  margin: 0;
}
/* line 351, ../../scss/style.scss */
.box-content .header-box-content .ico-id-content .ico-id-photo, .box-content .header-box-content .ico-id-content .ico-id-music, .box-content .header-box-content .ico-id-content .ico-id-video,
.box-content .header-box-content .ico-id-content .ico-id-animation, .box-content .header-box-content .ico-id-content .ico-id-illustration, .box-content .header-box-content .ico-id-content .ico-id-web,
.box-content .header-box-content .ico-id-content .ico-id-password, .box-content .header-box-content .ico-id-content .ico-id-about-you,
.box-content .header-box-content .ico-id-content .ico-id-basic-info, .box-content .header-box-content .ico-id-content .ico-id-user-photo, .box-content .header-box-content .ico-id-content .ico-id-notification {
  width: 35px;
  height: 35px;
  margin: 5px auto 0 auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 361, ../../scss/style.scss */
.box-content .header-box-content .ico-id-content .ico-id-photo {
  background: url(../img/ico-photos.png);
}
/* line 362, ../../scss/style.scss */
.box-content .header-box-content .ico-id-content .ico-id-music {
  background: url(../img/ico-music.png);
}
/* line 363, ../../scss/style.scss */
.box-content .header-box-content .ico-id-content .ico-id-video {
  background: url(../img/ico-video.png);
}
/* line 364, ../../scss/style.scss */
.box-content .header-box-content .ico-id-content .ico-id-animation {
  background: url(../img/ico-animation.png);
}
/* line 365, ../../scss/style.scss */
.box-content .header-box-content .ico-id-content .ico-id-illustration {
  background: url(../img/ico-illustration.png);
}
/* line 366, ../../scss/style.scss */
.box-content .header-box-content .ico-id-content .ico-id-web {
  background: url(../img/ico-web.png);
}
/* line 367, ../../scss/style.scss */
.box-content .header-box-content .ico-id-content .ico-id-password {
  background: url(../img/ico-password.png);
}
/* line 368, ../../scss/style.scss */
.box-content .header-box-content .ico-id-content .ico-id-about-you {
  background: url(../img/ico-about-you.png);
}
/* line 369, ../../scss/style.scss */
.box-content .header-box-content .ico-id-content .ico-id-basic-info {
  background: url(../img/ico-basic-info.png);
}
/* line 370, ../../scss/style.scss */
.box-content .header-box-content .ico-id-content .ico-id-user-photo {
  background: url(../img/ico-user-photo.png);
}
/* line 371, ../../scss/style.scss */
.box-content .header-box-content .ico-id-content .ico-id-notification {
  background: url(../img/ico-notification.png);
}
/* line 375, ../../scss/style.scss */
.box-content .header-box-content .subtitle-box-content {
  float: left;
  width: 258px;
  height: 37px;
  background: transparent;
  margin: -10px 0 0 0;
  padding: 0px 0px 0px 10px;
  line-height: 100%;
  font-weight: 300;
  font-size: 11px;
}
/* line 389, ../../scss/style.scss */
.box-content .line-color-grey {
  width: 320px;
  height: 1px;
  background: #d6d6d6;
}
/* line 398, ../../scss/style.scss */
.box-content .product-box-content {
  width: 300px;
  max-height: 150px;
  min-height: 150px;
  background: white;
  margin: 10px auto;
}
/* line 408, ../../scss/style.scss */
.box-content .music-box-content {
  width: 300px;
  max-height: 90px;
  min-height: 90px;
  background: white;
  margin: 10px auto;
}
/* line 417, ../../scss/style.scss */
.box-content .info-box-content {
  width: 320px;
  height: 30px;
  background: transparent;
  margin: 0px;
}
/* line 424, ../../scss/style.scss */
.box-content .info-box-content .user-name-box-content {
  background: #ff0000;
}
/* line 428, ../../scss/style.scss */
.box-content .info-box-content .user-name-box-content .user-name-mini {
  float: left;
  width: 220px;
  height: 20px;
  background: transparent;
  margin: 5px 0;
  padding: 0 0 0 10px;
  font-size: 12px;
}
/* line 442, ../../scss/style.scss */
.box-content .info-box-content .ico-social .share-social {
  float: right;
  background: transparent;
  width: 26px;
  height: 26px;
  margin: 5px 5px 0 0;
  cursor: pointer;
  /* social shares configuration  */
}
/* line 452, ../../scss/style.scss */
.box-content .info-box-content .ico-social .share-social .share-fb {
  width: 20px;
  height: 20px;
  background: url(../img/ico-fb.png), white;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 461, ../../scss/style.scss */
.box-content .info-box-content .ico-social .share-social .share-tw {
  width: 20px;
  height: 20px;
  background: url(../img/ico-tw.png), white;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 470, ../../scss/style.scss */
.box-content .info-box-content .ico-social .share-social .share-g {
  width: 20px;
  height: 20px;
  background: url(../img/ico-g.png), white;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 483, ../../scss/style.scss */
.box-content .deleat-account {
  width: 200px;
  height: 2.3125rem;
  margin: 0 20%;
  background: transparent;
}
/* line 490, ../../scss/style.scss */
.box-content .deleat-account .ico-id-deleat {
  float: left;
  width: 35px;
  height: 35px;
  margin: 0 1px 0 auto;
  font-size: 0.875rem;
  background: url(../img/ico-deleat.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 502, ../../scss/style.scss */
.box-content .deleat-account .label-link {
  float: left;
  font-size: 1rem;
  color: #23aae1;
  text-align: center;
  margin: 10px auto 0 20px;
}
/* line 512, ../../scss/style.scss */
.box-content .deleat-object {
  width: 200px;
  height: 2.3125rem;
  margin: 0 20%;
  background: transparent;
  /*  */
  /*  */
}
/* line 518, ../../scss/style.scss */
.box-content .deleat-object .ico-id-deleat {
  float: left;
  width: 35px;
  height: 35px;
  margin: 0 1px 0 auto;
  background: url(../img/ico-deleat.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 528, ../../scss/style.scss */
.box-content .deleat-object .label-link {
  float: left;
  font-size: 0.875rem;
  color: #23aae1;
  text-align: center;
  margin: 10px auto 0 20px;
}
/* line 537, ../../scss/style.scss */
.box-content label {
  line-height: 100%;
  font-weight: 300;
  font-size: 12px;
}
/* line 544, ../../scss/style.scss */
.box-content .form-setting {
  width: 290px;
  height: auto;
  background: transparent;
  margin: 0 10px;
}
/* line 552, ../../scss/style.scss */
.box-content textarea {
  width: 300px;
  max-height: auto;
  min-height: 100px;
}
/* line 559, ../../scss/style.scss */
.box-content .preview-photo-user {
  width: 100px;
  height: 100px;
  background: white;
  margin: 0 30px 30px;
}

/* ******************************** Content general styles boxes ************************************************************/
/* content related to the event manager */
/* line 572, ../../scss/style.scss */
.box-new-content {
  float: left;
  width: 320px;
  height: 80px;
  background: white;
  margin: 5px 10px;
  border: 1px dashed #8b8b8b;
  overflow: hidden;
}

/***************************************************** form register and login ************************************************************ */
/* line 585, ../../scss/style.scss */
#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}

/* line 597, ../../scss/style.scss */
.popupContainer {
  position: absolute;
  width: 330px;
  height: auto;
  left: 45%;
  top: 80px;
  background: #FFF;
}

/* line 607, ../../scss/style.scss */
#modal_trigger {
  margin: 0px auto;
  width: 100px;
  display: block;
}

/* line 614, ../../scss/style.scss */
.btn {
  padding: 10px 20px;
  background: #F4F4F2;
}

/* line 619, ../../scss/style.scss */
.btn_red {
  background: #e84f35;
  color: #FFF;
}

/* line 625, ../../scss/style.scss */
.btn:hover {
  background: #E4E4E2;
}

/* line 629, ../../scss/style.scss */
.btn_red:hover {
  background: #C12B05;
}

/* line 633, ../../scss/style.scss */
a.btn {
  color: #666;
  text-align: center;
  text-decoration: none;
}

/* line 639, ../../scss/style.scss */
a.btn_red {
  color: #FFF;
}

/* line 644, ../../scss/style.scss */
.one_half {
  width: 50%;
  display: block;
  float: left;
}
/* line 650, ../../scss/style.scss */
.one_half .last {
  width: 45%;
  margin-left: 5%;
}

/* Popup Styles*/
/* line 659, ../../scss/style.scss */
.popupHeader {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background: #F4F4F2;
  text-align: center;
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px solid #DDD;
  font-weight: bold;
}
/* line 670, ../../scss/style.scss */
.popupHeader .modal_close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 15px;
  background: #E4E4E2;
  cursor: pointer;
  color: #e84f35;
  font-size: 16px;
}

/* line 681, ../../scss/style.scss */
.popupBody {
  padding: 20px;
}

/* Social Login Form */
/* line 690, ../../scss/style.scss */
.social_login .social_box {
  display: block;
  clear: both;
  padding: 10px;
  margin-bottom: 10px;
  background: #F4F4F2;
  overflow: hidden;
}
/* line 698, ../../scss/style.scss */
.social_login .icon {
  display: block;
  width: 15px;
  padding: 5px 20px;
  margin-right: 10px;
  float: left;
  color: #FFF;
  font-size: 16px;
  text-align: center;
}
/* line 708, ../../scss/style.scss */
.social_login .icon_title {
  font-family: "Open Sans", sans-serif;
  display: block;
  padding: 5px 0;
  float: left;
  font-weight: bold;
  font-size: 16px;
  color: #777;
}
/* line 717, ../../scss/style.scss */
.social_login .social_box:hover {
  background: #E4E4E2;
}
/* line 720, ../../scss/style.scss */
.social_login .fb .icon {
  background: #3B5998;
}
/* line 723, ../../scss/style.scss */
.social_login .google .icon {
  background: #DD4B39;
}
/* line 726, ../../scss/style.scss */
.social_login .tw .icon {
  background: #52a8e9;
}

/* line 732, ../../scss/style.scss */
.centeredText {
  text-align: center;
  margin: 20px 0;
  clear: both;
  padding-bottom: 10px;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

/* line 742, ../../scss/style.scss */
.action_btns {
  clear: both;
  overflow: hidden;
}
/* line 746, ../../scss/style.scss */
.action_btns a {
  display: inline-block;
}

/* User Login Form */
/* line 752, ../../scss/style.scss */
.user_login {
  display: none;
}
/* line 755, ../../scss/style.scss */
.user_login label {
  display: block;
  margin-bottom: 5px;
  font-family: "Open Sans", sans-serif;
}
/* line 761, ../../scss/style.scss */
.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {
  display: block;
  width: 90%;
  padding: 10px;
  border: 1px solid #DDD;
  color: #666;
}
/* line 768, ../../scss/style.scss */
.user_login input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}
/* line 772, ../../scss/style.scss */
.user_login input[type="checkbox"] + label {
  float: left;
}
/* line 775, ../../scss/style.scss */
.user_login .checkbox {
  margin-bottom: 10px;
  clear: both;
  overflow: hidden;
}

/* line 781, ../../scss/style.scss */
.forgot_password {
  display: block;
  margin: 20px 0 10px;
  clear: both;
  overflow: hidden;
  text-decoration: none;
  color: #ED6347;
}

/* User Register Form */
/* line 792, ../../scss/style.scss */
.user_register {
  display: none;
}
/* line 796, ../../scss/style.scss */
.user_register label {
  display: block;
  margin-bottom: 5px;
}
/* line 801, ../../scss/style.scss */
.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {
  display: block;
  width: 90%;
  padding: 10px;
  border: 1px solid #DDD;
  color: #666;
}
/* line 808, ../../scss/style.scss */
.user_register input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}
/* line 812, ../../scss/style.scss */
.user_register input[type="checkbox"] + label {
  float: left;
}
/* line 815, ../../scss/style.scss */
.user_register .checkbox {
  margin-bottom: 10px;
  clear: both;
  overflow: hidden;
}

/* line 822, ../../scss/style.scss */
.box-new-content {
  float: left;
  width: 320px;
  height: 80px;
  background: white;
  margin: 5px 10px;
  border: 1px dashed #8b8b8b;
  overflow: hidden;
}
/* line 831, ../../scss/style.scss */
.box-new-content .new-object {
  width: 258px;
  height: 40px;
  background: transparent;
  margin: 23px auto 0 auto;
}
/* line 836, ../../scss/style.scss */
.box-new-content .new-object .header-box-content {
  width: auto;
  height: 40px;
}
/* line 839, ../../scss/style.scss */
.box-new-content .new-object .header-box-content .title-box-content {
  float: left;
  width: 220px;
  height: 37px;
  background: white;
  margin: 0;
  padding: 5px 5px 5px 10px;
  font-variant: small-caps;
  line-height: 100%;
  font-weight: 300;
  font-size: 1.05rem;
  color: #23aae1;
}
/* line 853, ../../scss/style.scss */
.box-new-content .new-object .header-box-content .ico-id-event, .box-new-content .new-object .header-box-content .ico-id-product {
  float: left;
  width: 35px;
  height: 35px;
  margin: 0 5px 0 10px;
  background-size: 100% 100%;
  background-position: center center;
}
/* line 861, ../../scss/style.scss */
.box-new-content .new-object .header-box-content .ico-id-event {
  background: url(../img/ico-event.png) no-repeat;
}
/* line 862, ../../scss/style.scss */
.box-new-content .new-object .header-box-content .ico-id-product {
  background: url(../img/ico-new-event.png) no-repeat;
}
